{% extends 'base.html.twig' %}

{% block title %}Redaguoti vartotoją{% endblock %}

{% block body %}
    <h2>Redaguoti vartotojo paskyrą</h2>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div id="alert" class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <hr>
    {{ form_start(userForm) }}
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <h5>Vartotojo vardas</h5>
                {{ form_widget(userForm.Name, { attr: { 'class': 'form-control' }}) }}
                <div class="alert-danger">
                    {{ form_errors(userForm.Name) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <h5>El. paštas</h5>
                {{ form_widget(userForm.Email, { attr: { 'class': 'form-control' }}) }}
                <div class="alert-danger">
                    {{ form_errors(userForm.Email) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h5>Rolė</h5>
            {{ form_widget(userForm.Admin, { attr: { 'class': 'form-control' }}) }}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <br>
                <button class="btn btn-lg grey" type="submit">Išsaugoti</button>
                <button class="btn btn-lg white-grey" type="reset">Atstatyti</button>
            </div>
        </div>
    </div>
    {{ form_end(userForm) }}
{% endblock %}