{% extends 'base.html.twig' %}

{% block title %}Add Terrarium{% endblock %}

{% block body %}
    <h1>Add terrarium</h1>
    {{ form_start(terrariumCreateForm) }}
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="label">
                {{ form_label(terrariumCreateForm.Users) }}
            </div>
            {{ form_widget(terrariumCreateForm.Users, { attr: { 'class': 'form-control' }}) }}
            <div class="alert-danger">
                {{ form_errors(terrariumCreateForm.Users) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="label">
                {{ form_label(terrariumCreateForm.Name) }}
            </div>
            {{ form_widget(terrariumCreateForm.Name, { attr: { 'class': 'form-control' }}) }}
            <div class="alert-danger">
                {{ form_errors(terrariumCreateForm.Name) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="label">
                {{ form_label(terrariumCreateForm.Settings) }}
            </div>
            {{ form_widget(terrariumCreateForm.Settings, { attr: { 'class': 'form-control' }}) }}
            <div class="alert-danger">
                {{ form_errors(terrariumCreateForm.Settings) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="label">
                {{ form_label(terrariumCreateForm.Address) }}
            </div>
            {{ form_widget(terrariumCreateForm.Address, { attr: { 'class': 'form-control' }}) }}
            <div class="alert-danger">
                {{ form_errors(terrariumCreateForm.Address) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <button class="btn grey">Add</button>
        </div>
    </div>
    {{ form_end(terrariumCreateForm) }}
{% endblock %}