<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Terariumas</th>
        <th>Adresas</th>
        <th>Temperatūros ribos</th>
        <th>Temperatūra</th>
        <th>Drėgmės ribos</th>
        <th>Drėgmė</th>
        <th>Reitingas</th>
        <th>Statusas</th>
    </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr style="color: {{ route.condition }}">
            <td>{{ route.terrarium }}</td>
            <td>{{ route.address }}</td>
            <td>{{ route.temperature_limit }}</td>
            <td>{{ route.temperature }}</td>
            <td>{{ route.humidity_limit }}</td>
            <td>{{ route.humidity }}</td>
            <td>{{ route.rating }}</td>
            <td>{{ route.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>